@model ML.Vehiculo
@{
    ViewBag.Title = "CargaArchivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleVehiculo.css">

<h2>Carga masiva</h2>

<div class="container">

    @using (Html.BeginForm("CargaArchivo", "Vehiculo", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="btn-toolbar " role="toolbar">
            <div class="d-grid gap-2 ">
                <button type="button" id="btn-1" onclick="mostrarBoton1()" class="btn btn-secondary bi bi-filetype-txt" style="width:600px; height:40px;"> Carga mediante .TXT</button>

            </div>
            <div class="d-grid gap-2 ">
                <button type="button" id="btn-2" onclick="mostrarBoton1()" class="btn btn-primary bi bi-filetype-xlsx" style="width:600px; height:40px;"> Carga mediante Excel </button>

            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-3 form-control" style="width:550px; height:55px;">
                <label>Archivo</label>
                <input type="file" id="fulTxt" name="cargaMasiva" class=" form-control" style="display: none;" />
            </div>
            <br />
            @Html.HiddenFor(model => model.Vehiculos)
            @if (Session["ListEmpleados"] == null)
            {
                <div class=" col-md-2">
                    <button type="submit" class="btn btn-info bi bi-eye "> Visualizar</button>
                </div>

            }
            else
            {

                <div class="col-md-3">
                    <button type="submit" class="btn btn-success bi bi-save "> Cargar</button>
                    @Html.ActionLink("Limpiar", "CargaArchivo", "Vehiculo", new { @class = "btn btn-warning" })

                </div>
            }
        </div>
        <br />

        <br />
        


    }

    @if (Model.Vehiculos != null)
    {
        <div class="row">
            <div class="col-md-11">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="d-none d-md-table-cell">Fecha Reclamo</th>
                                <th class="d-none d-md-table-cell">Hora Percanse</th>
                                <th class="d-none d-md-table-cell">Tipo Percanse </th>
                                <th class="d-none d-md-table-cell">Numero Poliza</th>
                                <th class="d-none d-md-table-cell">Nombre Conductor</th>
                                <th class="d-none d-md-table-cell">Contacto Conductor</th>
                                <th class="d-none d-md-table-cell">Detalles Vehiculo</th>
                                <th class="d-none d-md-table-cell">Daños Prejuicios</th>
                                <th class="d-none d-md-table-cell">Estimacion Reparacion</th>
                                <th class="d-none d-md-table-cell">Statu</th>
                                <th class="d-none d-md-table-cell">Imagen</th>
                            </tr>

                        </thead>
                        <tbody>

                            @foreach (ML.Vehiculo vehiculo in Model.Vehiculos)
                            {
                                <tr>

                                    <td>@vehiculo.FechaReclamo</td>
                                    <td>@vehiculo.HoraPercanse</td>
                                    <td>@vehiculo.TipoPercanse</td>
                                    <td>@vehiculo.NumeroPoliza</td>
                                    <td>@vehiculo.NombreConductor</td>
                                    <td>@vehiculo.ContactoConductor</td>
                                    <td>@vehiculo.DetallesVehiculo</td>
                                    <td>@vehiculo.DañosPrejuicios</td>
                                    <td>@vehiculo.EstimacionReparacion</td>
                                    <td>
                                        <label class="switch">
                                            @if (vehiculo.Statu)
                                            {
                                                <input class="chkStatu" value="@vehiculo.NumeroPoliza" type="checkbox" checked>
                                                <span class="slider round"></span>
                                            }
                                            else
                                            {
                                                <input class="chkStatu" value="@vehiculo.NumeroPoliza" type="checkbox">
                                                <span class="slider round"></span>
                                            }
                                        </label>
                                    </td>
                                    @if (vehiculo.Imagen != null)
                                    {
                                        <td>
                                            <img src="data:image/jpg;base64,@Convert.ToBase64String(vehiculo.Imagen)" alt="@vehiculo.NumeroPoliza" style="width: 125px; height: 100px;" />
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <img src="~/Img/userl.jpg" alt="@vehiculo.NumeroPoliza" style="width: 125px; height: 100px;" />
                                        </td>
                                    }
                                   
                                </tr>


                            }

                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    }

    <br />
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("Regresar", "GetAll", "Vehiculo", new { @class = "btn btn-warning" })
        </div>
    </div>
</div>

<script type="text/javascript">
    var btn_1 = document.getElementById('btn-1');
    var btn_2 = document.getElementById('fulTxt');
    var btn_3 = document.getElementById('btn-2');

    function mostrarBoton1() {
        btn_2.style.display = 'inline';
        /*btn_4.style.display = 'none';*/
    }

    //var btn_3 = document.getElementById('btn-2');
    //var btn_4 = document.getElementById('fulExel');

    //function mostrarBoton2() {
    //    btn_4.style.display = 'inline';
    //    btn_2.style.display = 'none';
    //}
</script>
